body {
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

    a:hover {
        opacity: 0.5;
    }

#header {
    margin-bottom: 10px;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    background-color: black;
}

#header_logo {
    width: 20%;
    float: left;
    height: 100%;
    overflow: hidden;
}

#header_title {
    width: 60%;
    float: left;
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
    height: 76%;
    color: white;
    font-family: Langdon;
}

#footer {
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    color: white;
    float: left;
    width: 100%;
    margin-top: 10px;
    background-color: dimgray;
}

#footer_left {
    width: 30%;
    float: left;
    font-size: 12px;
    margin-top: 10px;
    box-sizing: border-box;
}

#footer_right {
    width: 70%;
    float: left;
    font-size: 12px;
    text-align: right;
    box-sizing: border-box;
    padding-right: 30px;
}

    #footer_right img {
        width: 30px;
        height: 30px;
    }

#header {
    height: 152px;
}

#left_side {
    float: left;
    width: 15%;
    height: 500px;
    box-sizing: border-box;
    background-color: black;
}

#right_side {
    float: left;
    width: 15%;
    height: 500px;
    box-sizing: border-box;
    background-color: black;
}

#middle {
    float: left;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}

#content {
    float: left;
    width: 70%;
    height: auto;
    padding: 10px 30px 10px 30px;
    background-color: white;
    color: black;
    box-sizing: border-box;
}

#information {
    width: 50%;
    float: left;
    font-family: Arial;
    font-size: 13px;
    box-sizing: border-box;
    height: 140px;
    text-align: left;
    padding-left: 350px;
}

#footer ul {
    list-style-type: none;
    margin: 5px 10px 5px 10px;
}

    #footer ul li {
        padding-top: 5px;
    }

#footer li img {
    width: 40px;
    height: 40px;
    margin-left: 8px;
}

#contact {
    width: 50%;
    float: left;
    font-family: Arial;
    font-size: 13px;
    box-sizing: border-box;
    height: 140px;
}

#user_info {
    width: 20%;
    float: left;
    height: 100%;
    background-image: url('../Image/film.jpeg');
    background-size: 130% 130%;
    color: white;
    padding-top: 50px;
    overflow: hidden;
    box-sizing: border-box;
}

#member_info {
    width: 20%;
    float: left;
    height: 100%;
    color: white;
    padding-top: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.profile {
    font-family: Arial;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.button {
    font-size: 16px;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 5px 20px 5px 20px;
    margin-top: 15px;
    margin-right: 15px;
}

    .button:hover {
        background-color: gainsboro;
        transition-duration: 0.3s;
        color: black;
    }

table {
    margin: 10px 20px 10px 20px;
    border: none;
}

    table tr {
        margin: 10px 10px 10px 10px;
    }

        table tr td {
            margin: 10px 10px 10px 10px;
            width: 100px;
        }

.menu {
    color: white;
    background-color: black;
    padding: 10px 0px 10px 10px;
    font-family: Arial;
    font-size: 16px;
    width: 100%;
    box-sizing:border-box;
}

    .menu ul {
        width: 100%;
        box-sizing: border-box;
    }

        .menu ul li {
            padding: 10px 0px 10px 10px;
            width: 100%;
        }

            .menu ul li:hover {
                background-color: gainsboro;
                color: black;
                border: 1px solid white;
                transition: 1s;
            }

            .menu ul li a:hover {
                color: black;
                opacity: 1;
            }

            .menu ul li img {
                width: 30px;
                height: 30px;
                margin-right: 20px;
            }

.avatar {
    width: 80px;
    height: 80px;
}

.error_message {
    color: red;
    visibility: hidden;
}

.error_message_show {
    color: red;
}

#login_form {
    background-color: white;
    color: black;
    width: 50%;
    height: auto;
    position: fixed;
    top: -500px;
    left: 350px;
    transition: all 2s;
    padding: 0px 20px 20px 100px;
    text-align: left;
    box-sizing: border-box;
}

#close {
    text-align: right;
}

/*TouchCinema.aspx*/
#search_mess {
    float: left;
    width: 40%;
    margin-top: 25px;
    margin-left: 20px;
}

#search_form {
    float: right;
    width: 50%;
    text-align: right;
    margin-right: 20px;
}

.movie_lastest_info {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    box-sizing: border-box;
}

.movie_rating_info {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    box-sizing: border-box;
}

.movie_label {
    float: left;
    width: 100%;
    text-align: center;
}

.description {
    float: left;
    padding-left: 20px;
    width: 75%;
}

.title {
    font-family: 'Poiret One';
    text-decoration-line: underline;
}

.banner {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    box-sizing: border-box;
}

.promotion_section {
    float: left;
    width: 100%;
}

.promotion_banner {
    float: left;
    margin: 20px;
    width: 40%;
    box-sizing: border-box;
    border: 2px solid black;
}

    .promotion_banner img {
        float: left;
        width: 100%;
    }

#incorrectCode {
    visibility: hidden;
}

/*CCS for Term and Condition*/
#term_and_condition {
    float: left;
}    

/*CCS for Search Result Page*/
#search_bar {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.search_result_mess {
    float: left;
    width: 100%;
    margin-left: 20px;
}

#search_result {
    float: left;
    width: 100%;
}

    #search_result table {
        float: left;
        width: 100%;
        border: 1px solid black;
        box-sizing: border-box;
        text-align: center;
    }

.movie_panel {
    float: left;
    width: 15%;
    text-align: center;
    margin: 20px;
    font-weight: 900;
}

#empty_label {
    color: red;
}

/*CCS for Movie Detail Page*/
.movie_data_mess {
    float: left;
    width: 100%;
    margin-left: 20px;
}

.movie_data_form {
    float: left;
    width: 100%;
    font-family: Arial;
    border: 10px double black;
}

#movie_data_poster {
    float: left;
    width: 20%;
}

    #movie_data_poster img {
        width: 100%;
    }

#movie_data_description {
    float: left;
    width: 80%;
}

#movie_title {
    text-align: center;
}

#movie_detail {
    padding-left: 10px;
}

.hyperlink_panel{
    height: auto;    
    box-sizing:border-box;
    display: inline-block;
    border-radius: 5px 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
    color: whitesmoke;
}

#movie_same_genre {
    float: left;
    width: 100%;
}

#movie_same_producer {
    float: left;
    width: 100%;
}

.movie_reference_content {
    float: left;
    width: 100%;
}

.show_more_link {
    float: right;
    color: black;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
}

    .show_more_link:hover {
        color: white;
        background-color: black;
        text-decoration: underline;
        transition-duration: 2s;
    }

.panel_upper {
    float: left;
    width: 100%;
    height: 50px;
    padding-top: 25px;
    padding-left: 25px;
    background-color: black;
    color: ghostwhite;
    font-size: 25px;
    font-weight: 900;
    border-top-left-radius: 25px;    
    margin-top: 20px;
}
.panel_lower {
    float: left;
    width: 100%;
    height: 50px;
    padding-top: 25px;
    padding-left: 25px;
    background-color: black;
    border-bottom-left-radius: 25px;    
    margin-bottom: 20px;
}

/*CCS for UnderConstructionPage*/
#under_construction {
    float: left;
    padding: 50px;    
    margin: -25px -25px -25px -30px;
    background-color: black;
}

/*CCS for MovieSchedulePage*/
#schedule_content{
    float: left;
    width: 100%;
    margin-left: 25px;
}

#movie_schedule_content {
    float: left;
    width: 100%;  
    box-sizing: border-box;
}

.movie_schedule_info {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;    
}

.movie_schedule_img {
    float: left;
    width: 30%;    
    border: 2px solid black;
    text-align: center;
    font-weight: 900;
    background-color: black;
    color: whitesmoke;
}

.movie_schedule_list {
    float: right;
    width: 65%;  
    margin-right: 19.9px;
}

.movie_schedule_details {
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid white;
    background-color: black;
    color: whitesmoke;
    font-weight: 900;
    height: 25px;
    width: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

    .movie_schedule_details:hover {
        background: linear-gradient(black, white, white, white ,black);                
        color: black;
        transition: all 1s;
    }
/*CSS for MovieTag*/
#movie_tag_content {
    float: left;
    width: 100%;
    margin-left: 30px;
}